entidade/__pycache__/jogador.cpython-312.pyc
entidade/__pycache__/jogador.cpython-312.pyc
entidade/__pycache__/jogo.cpython-312.pyc
limite/__pycache__/tela_jogador.cpython-312.pyc
limite/__pycache__/tela_jogo.cpython-312.pyc
controle/__pycache__/controlador_jogador.cpython-311.pyc
controle/__pycache__/controlador_jogo.cpython-311.pyc
controle/__pycache__/controlador_oceano.cpython-311.pyc
controle/__pycache__/controlador_sistema.cpython-311.pyc
entidade/__pycache__/embarcacao.cpython-311.pyc
entidade/__pycache__/jogador.cpython-311.pyc
entidade/__pycache__/oceano.cpython-311.pyc
limite/__pycache__/tela_embarcacao.cpython-311.pyc
limite/__pycache__/tela_jogador.cpython-311.pyc
limite/__pycache__/tela_jogo.cpython-311.pyc
limite/__pycache__/tela_oceano.cpython-311.pyc
limite/__pycache__/tela_sistema.cpython-311.pyc