entidade/__pycache__/jogador.cpython-312.pyc
entidade/__pycache__/jogador.cpython-312.pyc
entidade/__pycache__/jogo.cpython-312.pyc
limite/__pycache__/tela_jogador.cpython-312.pyc
limite/__pycache__/tela_jogo.cpython-312.pyc
